@font-face {
  font-family: barlow-bold;
  src: url(fonts/BarlowSemiCondensed-Bold.ttf);
}

@font-face {
  font-family: barlow-black;
  src: url(fonts/BarlowSemiCondensed-Black.ttf);
}

@font-face {
  font-family: barlow-medium;
  src: url(fonts/BarlowSemiCondensed-Medium.ttf);
}

@font-face {
  font-family: barlow-regular;
  src: url(fonts/BarlowSemiCondensed-Regular.ttf);
}

@font-face {
  font-family: barlow-extra-bold;
  src: url(fonts/BarlowSemiCondensed-ExtraBold.ttf);
}

@font-face {
  font-family: barlow-semi-bold;
  src: url(fonts/BarlowSemiCondensed-SemiBold.ttf);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
  width: 100vw !important;
}

body {
  /* background-image: radial-gradient(circle, hsl(214, 47%, 23%), hsl(237, 49%, 15%)); */
  background-image: radial-gradient(circle, #e784d0, #fe11c5);
  font-family: barlow-regular, sans-serif;
  width: 100vw;
  min-height: 100vh;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav > img{
    height: 70px;
}

.top-cont {
  height: 6rem;
  /* border: 2px solid #606e85; */
  border-radius: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.4em;
}

.top-text {
  margin: auto auto auto 0;
  color: white;
  font-weight: 700;
  font-size: 27px;
  -ms-grid-column-align: center;
  justify-self: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.logo {
  height: calc(6rem - 2em);
  display: none;
}

.score-cont {
  width: 5rem;
  height: calc(6rem - 2em);
  background-color: white;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.score-cont span {
  margin: 0 auto;
}

#score-text {
  color: #2a46c0;
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

#score {
  color: #3b4363;
  font-weight: 900;
  font-size: 2.3rem;
  margin-top: 0;
  padding-top: 0;
}

@media screen and (min-width: 870px) {
    .logo{
        display: block;
    }

    .top-cont {
        width: 100%;
        max-width: 37.5rem;
        height: 6.125rem;
        padding: 1em;
        border: 2px solid #606e85;
      }
}

select{
    background-color: rgb(226, 212, 212);
    padding: 3px 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    max-width: 100px;
    font-family: barlow-semi-bold, sans-serif;
    font-weight: 400;
}

.body-cont-1 {
  width: 22rem;
  height: 19.5rem;
  padding: 3em;
  margin: 2.5em auto;
  margin-bottom: 0;
  position: relative;
}

.body-cont-1 > img {
  width: 13.625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.choose {
  height: 8.625rem;
  width: 8.625rem;
  background-color: white;
  border-radius: 50%;
  position: relative;
}

.paper-position {
  top: 0;
  left: 0;
  position: absolute;
}

/*Using a gradient for border image won't work with the border radius property. One of such fix is using
the background property as I did */
.paper {
  border: 1rem solid transparent;
  background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#fff),
        to(#fff)
      )
      padding-box,
    -webkit-gradient(linear, left top, right top, from(#4865f4), to(#5671f5)) border-box;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(90deg, #4865f4, #5671f5) border-box;
  -webkit-box-shadow: inset 0 7px 0px 0px rgba(0, 0, 0, 0.2),
    0 7px 0px 0px #263eab;
  box-shadow: inset 0 7px 0px 0px rgba(0, 0, 0, 0.2), 0 7px 0px 0px #263eab;
}

.scissors-position {
  top: 0;
  right: 0;
  position: absolute;
}

.scissors {
  border: 1rem solid transparent;
  background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#fff),
        to(#fff)
      )
      padding-box,
    -webkit-gradient(linear, left top, right top, from(#ec9e0e), to(#eca922)) border-box;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(90deg, #ec9e0e, #eca922) border-box;
  -webkit-box-shadow: inset 0 7px 0px 0px rgba(0, 0, 0, 0.2),
    0 7px 0px 0px #b27c10;
  box-shadow: inset 0 7px 0px 0px rgba(0, 0, 0, 0.2), 0 7px 0px 0px #b27c10;
}

.rock-position {
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  position: absolute;
}

.rock {
  border: 1rem solid transparent;
  background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#fff),
        to(#fff)
      )
      padding-box,
    -webkit-gradient(linear, left top, right top, from(#dc2e4e), to(#dd405d)) border-box;
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(90deg, #dc2e4e, #dd405d) border-box;
  -webkit-box-shadow: inset 0 7px 0px 0px rgba(0, 0, 0, 0.2),
    0 7px 0px 0px #b21f3a;
  box-shadow: inset 0 7px 0px 0px rgba(0, 0, 0, 0.2), 0 7px 0px 0px #b21f3a;
}

.pics {
  width: 2.95rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.choose-2 {
  height: 8.625rem;
  width: 8.625rem;
  background-color: white;
  border-radius: 50%;
  position: relative;
}

@media screen and (max-width: 500px) {
  .body-cont-2 {
    padding: 3rem 0 !important;
  }
}

.body-cont-2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 90vw !important;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  /* padding: 3em; */
  margin: 2.5em auto;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  display: none;
  justify-content: space-between;
}

.body-cont-2 > img {
  width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 500px) {
  .player-cont {
    margin-right: 0rem !important;
  }
}

.player-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  font-family: barlow-semi-bold, sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 700;
  order: 1;
}

.player-cont p {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-top: 2em;
  color: white;
  font-weight: 500;
  font-size: 0.8rem;
}

.house-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  font-family: barlow-semi-bold, sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: 700;
  order: 2;
}

.house-cont p {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-top: 2em;
  color: white;
  font-weight: 500;
  font-size: 0.8rem;
}

#small-circle {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #121f31;
  margin-top: 2em;
}

.results {
  height: inherit;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2em !important;
  align-items: center;
  display: none;
  order: 3;
  width: 100%;
  margin-top: 30px;
}

.result {
  font-weight: 700;
  font-size: 36px;
  color: white;
  margin: auto;
  margin-bottom: 0.4em;
}

.play-again {
  height: 40px;
  border-radius: 4px;
  border: none;
  color: #3b4363;
  font-weight: 600;
  width: 14em;
  font-family: barlow-regular, sans-serif;
  letter-spacing: 1.5px;
}

.play-again:active {
  color: #dc2e4e;
}

.halo-cont-1,
.halo-cont-2 {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -100;
  height: 290px;
  width: 290px;
  display: none;
}

.halo-1 {
  width: 330px;
  height: 330px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.06);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -101;
}

.halo-2 {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.04);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -102;
}

.halo-3 {
  width: 580px;
  height: 580px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.02);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -103;
}

footer > div {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5em 2em;
  /* margin: 20px 20px 0 auto; */
  border: 2px solid #606e85;
  border-radius: 10px;
  color: white;
  font-family: barlow-medium, sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}

.rules-main-cont {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  display: none;
}

.rules-cont {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2em;
  border-radius: none;
  width: 100%;
  height: 100%;
}

.rules-image {
  width: 250px;
  margin: auto auto;
  display: block;
  margin-top: 15%;
}

.rules-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2em;
}

.rules-span {
  font-size: 30px;
  margin: auto auto auto auto;
  font-weight: 700;
  font-family: barlow-bold, sans-serif;
  color: #3b4363;
  margin-top: 10%;
}

.rules-cancel {
  height: 20px;
  width: 20px;
  margin: auto 0 auto auto;
  display: none;
}

#rules-cancels {
  display: block;
  margin: auto auto;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 10%;
}

@media screen and (min-width: 750px) {
    nav > img{
        height: calc(130px - 2em);
    }
  .logo,
  .score-cont {
    height: calc(110px - 2em);
  }
  .score-cont {
    width: 8.125rem;
    border-radius: 10px;
  }
  #score-text {
    font-size: 0.8rem;
  }
  #score {
    font-size: 2.55rem;
  }
  .choose {
    height: 10.625rem;
    width: 10.625rem;
  }
  .choose-2 {
    height: 14.375rem;
    width: 14.375rem;
  }
  .pics {
    width: 3.75rem;
  }
  .paper,
  .scissors,
  .rock {
    border: 1.25rem solid transparent;
  }
  .body-cont-1 {
    max-width: 25rem;
    max-height: 22.5rem;
  }
  .body-cont-1 > img {
    max-width: 15.625rem;
  }
  .results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: auto;
    padding: 3em;
    display: none;
    position: static;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    order: 2;
  }
  .border {
    border: 27px solid transparent;
  }
  footer > div {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0.5em 2em;
    /* margin: 0 3em 0 auto; */
    /* border: 2px solid #606e85; */
    border: 2px solid rgb(75, 72, 72);
    border-radius: 10px;
    color: white;
    font-family: barlow-medium, sans-serif;
    font-weight: 500;
    position: static;
    cursor: pointer;
  }
  .rules-cancel {
    display: inline-block;
  }
  .rules-span {
    margin: auto auto auto 0;
  }
  .rules-cont {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 10px;
    position: absolute;
    display: block;
  }
  #rules-cancels {
    display: none;
  }
  .body-cont-1 {
    width: 25rem;
    height: 22.5rem;
    padding: 3em;
    margin: 2.5em auto;
    margin-bottom: 0;
    position: relative;
  }
  .body-cont-1 > img {
    width: 15.625rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .player-cont,
  .house-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .player-cont p,
  .house-cont p {
    margin-bottom: 2em;
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
  }
  .body-cont-2 {
    display: none;
    flex-wrap: nowrap;
  }
}

.choose-team-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
}

.choose-team{
    background-color: white;
    padding: 20px 50px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
}

.team-cont{
    list-style-type: none;
}

.team-cont li{
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.team-cont li:hover{
    background-color: rgb(226, 223, 223);
}

footer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
}

footer svg{
    fill: white;
    width: 40px;
    height: 40px;
}

.small-screen-icon{
    display: block;
}

.large-screen-text{
    display: none;
}

@media screen and (min-width: 750px) {
    .small-screen-icon{
        display: none;
    }
    
    .large-screen-text{
        display: block;
    } 
}

.leaderboard-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    display: none;
}

.leaderboard{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    max-width: 90vw;
}

.leaderboard table{
    width: 100%;
}

.leaderboard table th{
    text-align: start;
}

.leaderboard table td{
    padding: 10px 0;
}

.leaderboard button{
    padding: 5px 15px;
    margin: 10px auto;
    display: block;
}

.lock-in-cont{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

.lock-in{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
}

.current-score, .current-team{
    font-weight: 600;
    text-transform: capitalize;
}

.lock-in-button-cont{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.lock-in-button-cont button{
    width: 100px;
    height: 30px;
    border: 2px solid transparent;
    background-color: rgb(177, 175, 175);
    border-radius: 5px;
    font-family: barlow-regular, sans-serif;
    cursor: pointer;
    transition: all 0.2s;
}

.lock-in-button-cont button:hover{
    border: 2px solid gray;
}

.lock-in-button-cont button:first-of-type{
    background-color: #e784d0;
}
